<div class="preview-container">
    <div class="book-details">
        <div class="book-title-and-checkbox">
            <p class="book-title">{{book.title}}</p>
            <input type="checkbox" [checked]="isInWishList" (change)="onToggleInWishList.emit(book)">
        </div>
        <hr />
        <p class="book-author">{{book.author}}</p>
        <p class="book-description">{{book.description}}</p>
        <div class="rating-and-price">
            <p *ngIf="roundRating(book) === 1">
                <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1583012469/mib5enaxku5dphrljp2k.jpg">
            </p>
            <p *ngIf="roundRating(book) === 2">
                <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1583012425/iixi7vxz2crbvvcqaqrf.jpg">
            </p>
            <p *ngIf="roundRating(book) === 3">
               <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1583012373/ztblp3ldboioghoqoml6.jpg">
            </p>
            <p *ngIf="roundRating(book) === 4">
                <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1583012331/kj4e7wmtm8m1ummtkhlk.jpg">
            </p>
            <p *ngIf="roundRating(book) === 5">
                <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1583012163/eyqltevkbsmdpp7ftlxp.jpg">
            </p>
            <p>Price: ${{book.price}}</p>
        </div>
    </div>
</div>