.book-carusel{
  display: flex;
}

button{
  background-color: Transparent;
  outline: none;
  border: none;
  color: rgb(140,140,140);
  font-size: 30px;
  font-family: ZCOOL;
}

@media(max-width:480px){
  .book-carusel{
    display: grid;
  }
}